<h1><%= @auction.title %></h1>
<h2><%= @auction.details %></h2>
<h2>Auction ends on <%= @auction.enddate %></h2>
<h2>Current Price: $<%= @auction.current_price %></h2>
<h2>Reserve Price: $<%= @auction.reserve %></h2>

<h2>Bid for this product</h2>
<%= simple_form_for(@bid, url: auction_bids_path(@auction), method: :post) do |f| %>
  <%= f.input :amount %>
  <%= f.button :submit %>
<% end %>
